<h1>All Mechanics</h1>

<section class='mechanic-info'>
  <ul>
    <% @mechanics.each do |mechanic| %>
      <li><%= link_to mechanic.name, "/mechanics/#{mechanic.id}"%> - <%= mechanic.years_of_experience %> years of experience</li>
    <% end %>
  </ul>
</section>
